*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width:90%;
    margin-top: 20px;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i-tag{
    display: flex;
    gap: 20px;
    justify-content: end;
}
.text{
    background-color: rgba(59, 59, 224, 0.774);
    color: white;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    width: fit-content;
}
.text-tag{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
}
.para-tag{
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 40px;
    text-align: center;
}
.icon-tag{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin-top: 20px;
    margin-left:100px;
    margin-bottom: 20px;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 400px;
    height: 400px;
    background-color: rgb(81, 226, 178);
    background: radial-gradient(rgba(81, 226, 178, 0.737),rgba(22, 94, 226, 0.97));
    margin-bottom: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.btn1,.btn2{
    width: 200px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.btn1{
    background-color: transparent;
    color:black;
}
@media screen and (max-width:980px) {
    main{
        width:700px;
        margin-top: 20px;
    }
    .text-tag h2{
        text-align: start;
    }
    .img{
        width: 350px;
        height: 350px;
       margin-left: 10px;
    }
    .icon-tag{
        margin-left:10px;
    }
    .btn1,.btn2{
        width: calc(100% -100px);
        margin-bottom: 10px;
    }
}
@media screen and (max-width:450px) {
    main{
        width:376px;
        margin-top: 20px;
    }
    .text-tag h2{
      
        text-align: start;
    }
    .para-tag{
        font-size: 1.3rem;
        margin-top: 15px;
        margin-left: 20px;
        text-align: start;
    }
    .img{
        width: 300px;
        height: 300px;
       margin-left: 20px;
    }
    
    .btn{
        display: block;
    }
    .btn1,.btn2{
        width: 100%;
        margin-bottom: 10px;
    }
}